header
nav.navbar.navbar-light.bg-light
  a.navbar-brand(href='#')
    img(src='./img/T.png' width='30' height='30' alt='Letter T' loading='lazy') 
  form.form-inline
  #navbarNavDropdown.collapse.navbar-collapse
