//- extends layout

//- block content
//-   .container
//-     form(method = 'POST', action= '/travel').row.form
//-           .form-group.col-6
//-             label.form-control-sm(for='travelInput') Date
//-             input.form-control.form-control-sm.date(type='date' name= 'date' placeholder='2011-08-19')
//-           .form-group.col-6
//-             label.form-control-sm(for='travelInput')  Place Visited
//-             input.form-control.form-control-sm.place(type='text' name= 'location' placeholder='Switzerland')
//-           .form-group.col
//-             label.form-control-sm(for='travelInput') Description
//-             textarea#travelInput.form-control.description(rows='4' name= 'description')
//-           .form-group.col-12
//-             button.btn.btn-primary(type='submit') Submit



//- form(method = 'POST', action= '/travel').row.form.hidden
//-         .form-group.col-6
//-           label.form-control-sm(for='travelInput') Date
//-           input.form-control.form-control-sm.date(type='date' name= 'date' placeholder='2011-08-19')
//-         .form-group.col-6
//-           label.form-control-sm(for='travelInput')  Place Visited
//-           input.form-control.form-control-sm.place(type='text' name= 'location' placeholder='Switzerland')
//-         .form-group.col
//-           label.form-control-sm(for='travelInput') Description
//-           input#travelInput.form-control.description(rows='4' name= 'description')
//-         .form-group.col-10
//-           button.btn.btn-primary(type='submit') Ok 